@each $type, $value in $hu-box-shadow-types {
  @include hu-pseudo-classes(dropdown-shadow-#{$type}, ("::before"), $hu-box-shadow-modules) {
    box-shadow: $value;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}