@mixin _hu-pseudo-before-dropdown-shadow-declarations($shadow) {
  box-shadow: $shadow;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@each $module in hu-format-modules($shadow-modules) {
  @each $type, $value in $shadow-types {
    @include hu-pseudo(hu-class-name(dropdown-shadow-#{$type}), ("::before"), $module) {
      @include _hu-pseudo-before-dropdown-shadow-declarations($value);
    }
  }
}

@each $bp-scale, $bp-value in $hu-breakpoints {
  @media (min-width: $bp-value) {
    @each $type, $value in $shadow-types {
      @include hu-pseudo-responsive(hu-class-name(dropdown-shadow-#{$type}), ("::before"), $shadow-modules, $bp-scale) {
        @include _hu-pseudo-before-dropdown-shadow-declarations($value);
      }
    }
  }
}